#brz-tabs_style1 > .brz-tabs > .brz-tabs__nav--horizontal {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-wrap: wrap!important;
        flex-wrap: wrap!important;
}
#brz-tabs_style1 > .brz-tabs > ul > li > .brz-tabs__nav--button {
    border-radius:10px;
}
#brz-tabs_style1 .brz-tabs__nav--item {
    padding: 0 0 5px 0;
}
/* scrollbar */
#brz-tabs_style2 .brz-tabs__nav--horizontal::-webkit-scrollbar {
    height: 5px;
}
#brz-tabs_style2 .brz-tabs__nav--horizontal::-webkit-scrollbar-thumb {
    background: rgba(204, 204, 204, 0.5); 
    border-radius: 10px;
}
/* style tab */
#brz-tabs_style2 > .brz-tabs > .brz-tabs__nav--horizontal {
    display: box!important;
    display:-moz-box!important;
    display:-webkit-box!important;
    box-pack: center!important;
    -moz-box-pack: center!important;
    -webkit-box-pack: center!important;
    overflow-x: auto!important;
}
#brz-tabs_style2 .brz-tabs__nav {
    min-width: auto!important;
}
#brz-tabs_style2 > .brz-tabs > ul > li > .brz-tabs__nav--button {
    border-radius:25px;
}
#brz-tabs_style2 .brz-tabs__nav--item {
    padding: 0 0 5px 0;
}
/* scrollbar */
#brz-tabs_style3 .brz-tabs__nav--horizontal::-webkit-scrollbar {
    height: 5px;
}
#brz-tabs_style3 .brz-tabs__nav--horizontal::-webkit-scrollbar-thumb {
    background: rgba(204,204,204,0.5); 
    border-radius: 10px;
}
/* style tab */
#brz-tabs_style3 li.brz-tabs__nav--active~li {
    background: red;
}
#brz-tabs_style3 li.brz-tabs__nav--active~li::before {
    border-left: 16px solid red;
}
#brz-tabs_style3 li {
    background: blue;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}
#brz-tabs_style3 li::before {
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 26px solid transparent;
    border-bottom: 26px solid transparent;
    border-left: 16px solid blue;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    left: 100%;
    z-index: 3;
    margin-left: -2px;
}
#brz-tabs_style3 li:not(:last-child)::after {
    margin-left: -1px;
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 18px solid #ffffff;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    left: 100%;
    z-index: 2;
}
#brz-tabs_style3 li:not(:first-child) .brz-tabs__nav--button {
    padding-left: 25px!important;
}
#brz-tabs_style3 .brz-tabs__nav--button {
    padding-right: 5px!important;
}
#brz-tabs_style3 > .brz-tabs > .brz-tabs__nav--horizontal {
    display: box!important;
    display:-moz-box!important;
    display:-webkit-box!important;
    box-pack: center!important;
    -moz-box-pack: center!important;
    -webkit-box-pack: center!important;
    overflow-x: auto!important;
}
#brz-tabs_style3 .brz-tabs__nav {
    min-width: auto!important;
}
.brz-tabs__nav--desktop {
    display: block!important;
}
.brz-tabs__nav--mobile {
    display: none!important;
}
.brz-tabs__items {
    background-color: rgba(0,0,0,0)!important;
    border: none!important;
}
.brz-tabs__items:hover {
    background-color: rgba(0,0,0,0)!important;
}
.brz-tabs__item--content {
    padding: 0!important;
}