/*---Vertical Sliding---*/
.brz-rich-text_sliding-vertical > div > div p {
	animation: effect_top-to-bottom 12.5s linear infinite 0s;
	-ms-animation: effect_top-to-bottom 12.5s linear infinite 0s;
	-webkit-animation: effect_top-to-bottom 12.5s linear infinite 0s;
	opacity: 0;
	overflow: hidden;
	position: absolute;
}
.brz-rich-text_sliding-vertical > div > div p:nth-child(2) {
	animation-delay: 2.5s;
	-ms-animation-delay: 2.5s;
	-webkit-animation-delay: 2.5s;
}
.brz-rich-text_sliding-vertical > div > div p:nth-child(3) {
	animation-delay: 5s;
	-ms-animation-delay: 5s;
	-webkit-animation-delay: 5s;
}
.brz-rich-text_sliding-vertical > div > div p:nth-child(4) {
	animation-delay: 7.5s;
	-ms-animation-delay: 7.5s;
	-webkit-animation-delay: 7.5s;
}
.brz-rich-text_sliding-vertical > div > div p:nth-child(5) {
	animation-delay: 10s;
	-ms-animation-delay: 10s;
	-webkit-animation-delay: 10s;
}
/*Vertical Sliding Animation: (4)-(2)=(3)-(1)=100%/số dòng "span"*/
@-webkit-keyframes effect_top-to-bottom {
	0% { opacity: 0; }
  /*-- (1) --*/
	9% { opacity: 0; -webkit-transform: translateY(-30px); }
  /*-- (2) --*/
	10% { opacity: 1; -webkit-transform: translateY(0px); }
  /*-- (3) --*/
	29% { opacity: 1; -webkit-transform: translateY(0px); }
  /*-- (4) --*/
	30% { opacity: 0; -webkit-transform: translateY(30px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@keyframes effect_top-to-bottom {
	0% { opacity: 0; }
  /*-- (1) --*/
	9% { opacity: 0; -webkit-transform: translateY(-30px); }
  /*-- (2) --*/
	10% { opacity: 1; -webkit-transform: translateY(0px); }
  /*-- (3) --*/
	29% { opacity: 1; -webkit-transform: translateY(0px); }
  /*-- (4) --*/
	30% { opacity: 0; -webkit-transform: translateY(30px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
/*---Horizontal Sliding---*/
.brz-rich-text_sliding-horizontal > div > div p {
	animation: effect_left-to-right 12.5s linear infinite 0s;
	-ms-animation: effect_left-to-right 12.5s linear infinite 0s;
	-webkit-animation: effect_left-to-right 12.5s linear infinite 0s;
	opacity: 0;
	overflow: hidden;
	position: absolute;
}
.brz-rich-text_sliding-horizontal > div > div p:nth-child(2) {
	animation-delay: 2.5s;
	-ms-animation-delay: 2.5s;
	-webkit-animation-delay: 2.5s;
}
.brz-rich-text_sliding-horizontal > div > div p:nth-child(3) {
	animation-delay: 5s;
	-ms-animation-delay: 5s;
	-webkit-animation-delay: 5s;
}
.brz-rich-text_sliding-horizontal > div > div p:nth-child(4) {
	animation-delay: 7.5s;
	-ms-animation-delay: 7.5s;
	-webkit-animation-delay: 7.5s;
}
.brz-rich-text_sliding-horizontal > div > div p:nth-child(5) {
	animation-delay: 10s;
	-ms-animation-delay: 10s;
	-webkit-animation-delay: 10s;
}
/*Horizontal Sliding Animation: (4)-(2)=(3)-(1)=100%/số dòng "span"*/
@-webkit-keyframes effect_left-to-right {
	0% { opacity: 0; }
  /*-- (1) --*/
	9% { opacity: 0; -webkit-transform: translateX(-30px); }
  /*-- (2) --*/
	10% { opacity: 1; -webkit-transform: translateX(0px); }
  /*-- (3) --*/
	29% { opacity: 1; -webkit-transform: translatex(0px); }
  /*-- (4) --*/
	30% { opacity: 0; -webkit-transform: translateX(30px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@keyframes effect_left-to-right {
	0% { opacity: 0; }
  /*-- (1) --*/
	9% { opacity: 0; -webkit-transform: translateX(-30px); }
  /*-- (2) --*/
	10% { opacity: 1; -webkit-transform: translateX(0px); }
  /*-- (3) --*/
	29% { opacity: 1; -webkit-transform: translatex(0px); }
  /*-- (4) --*/
	30% { opacity: 0; -webkit-transform: translateX(30px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
/*---Fade---*/
.brz-rich-text_fade-in > div > div p{
	animation: effect_fade-effect 12.5s linear infinite 0s;
	-ms-animation: effect_fade-effect 12.5s linear infinite 0s;
	-webkit-animation: effect_fade-effect 12.5s linear infinite 0s;
	opacity: 0;
	overflow: hidden;
	position: absolute;
}
.brz-rich-text_fade-in > div > div p:nth-child(2){
	animation-delay: 2.5s;
	-ms-animation-delay: 2.5s;
	-webkit-animation-delay: 2.5s;
}
.brz-rich-text_fade-in > div > div p:nth-child(3){
	animation-delay: 5s;
	-ms-animation-delay: 5s;
	-webkit-animation-delay: 5s;
}
.brz-rich-text_fade-in > div > div p:nth-child(4){
	animation-delay: 7.5s;
	-ms-animation-delay: 7.5s;
	-webkit-animation-delay: 7.5s;
}
.brz-rich-text_fade-in > div > div p:nth-child(5){
	animation-delay: 10s;
	-ms-animation-delay: 10s;
	-webkit-animation-delay: 10s;
}
/*Fade Effect Animation: (4)-(2)=(3)-(1)=100%/số dòng "span"*/
@-webkit-keyframes effect_fade-effect {
	0% { opacity: 0; }
  /*-- (1) --*/
	5% { opacity: 0; -webkit-transform: translateY(0px); }
  /*-- (2) --*/
	10% { opacity: 1; -webkit-transform: translateY(0px); }
  /*-- (3) --*/
	25% { opacity: 1; -webkit-transform: translateY(0px); }
  /*-- (4) --*/
	30% { opacity: 0; -webkit-transform: translateY(0px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@keyframes effect_fade-effect {
	0% { opacity: 0; }
  /*-- (1) --*/
	5% { opacity: 0; -webkit-transform: translateY(0px); }
  /*-- (2) --*/
	10% { opacity: 1; -webkit-transform: translateY(0px); }
  /*-- (3) --*/
	25% { opacity: 1; -webkit-transform: translateY(0px); }
  /*-- (4) --*/
	30% { opacity: 0; -webkit-transform: translateY(0px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
/*---Vertical Flip---*/
.brz-rich-text_vertical-flip > div > div p {
	animation: effect_vertical 12.5s linear infinite 0s;
	-ms-animation: effect_vertical 12.5s linear infinite 0s;
	-webkit-animation: effect_vertical 12.5s linear infinite 0s;
	opacity: 0;
	overflow: hidden;
	position: absolute;
}
.brz-rich-text_vertical-flip > div > div p:nth-child(2) {
	animation-delay: 2.5s;
	-ms-animation-delay: 2.5s;
	-webkit-animation-delay: 2.5s;
}
.brz-rich-text_vertical-flip > div > div p:nth-child(3) {
	animation-delay: 5s;
	-ms-animation-delay: 5s;
	-webkit-animation-delay: 5s;
}
.brz-rich-text_vertical-flip > div > div p:nth-child(4) {
	animation-delay: 7.5s;
	-ms-animation-delay: 7.5s;
	-webkit-animation-delay: 7.5s;
}
.brz-rich-text_vertical-flip > div > div p:nth-child(5) {
	animation-delay: 10s;
	-ms-animation-delay: 10s;
	-webkit-animation-delay: 10s;
}
/*Vertical Flip Animation: (4)-(2)=(3)-(1)=100%/số dòng "span"*/
@-webkit-keyframes effect_vertical {
	0% { opacity: 0; }
  /*-- (1) --*/
	5% { opacity: 0; -webkit-transform: rotateX(180deg); }
  /*-- (2) --*/
	10% { opacity: 1; -webkit-transform: translateY(0px); }
  /*-- (3) --*/
	25% { opacity: 1; -webkit-transform: translateY(0px); }
  /*-- (4) --*/
	30% { opacity: 0; -webkit-transform: translateY(0px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@keyframes effect_vertical {
	0% { opacity: 0; }
  /*-- (1) --*/
	5% { opacity: 0; -webkit-transform: rotateX(180deg); }
  /*-- (2) --*/
	10% { opacity: 1; -webkit-transform: translateY(0px); }
  /*-- (3) --*/
	25% { opacity: 1; -webkit-transform: translateY(0px); }
  /*-- (4) --*/
	30% { opacity: 0; -webkit-transform: translateY(0px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
/*---Horizontal Flip---*/
.brz-rich-text_horizontal-flip > div > div p {
	animation: effect_horizontal 12.5s linear infinite 0s;
	-ms-animation: effect_horizontal 12.5s linear infinite 0s;
	-webkit-animation: effect_horizontal 12.5s linear infinite 0s;
	opacity: 0;
	overflow: hidden;
	position: absolute;
}
.brz-rich-text_horizontal-flip > div > div p:nth-child(2) {
	animation-delay: 2.5s;
	-ms-animation-delay: 2.5s;
	-webkit-animation-delay: 2.5s;
}
.brz-rich-text_horizontal-flip > div > div p:nth-child(3) {
	animation-delay: 5s;
	-ms-animation-delay: 5s;
	-webkit-animation-delay: 5s;
}
.brz-rich-text_horizontal-flip > div > div p:nth-child(4) {
	animation-delay: 7.5s;
	-ms-animation-delay: 7.5s;
	-webkit-animation-delay: 7.5s;
}
.brz-rich-text_horizontal-flip > div > div p:nth-child(5) {
	animation-delay: 10s;
	-ms-animation-delay: 10s;
	-webkit-animation-delay: 10s;
}
/*Horizontal Flip Animation: (4)-(2)=(3)-(1)=100%/số dòng "span"*/
@-webkit-keyframes effect_horizontal {
	0% { opacity: 0; }
  /*-- (1) --*/
	5% { opacity: 0; -webkit-transform: rotateY(180deg); }
  /*-- (2) --*/
	10% { opacity: 1; -webkit-transform: translateX(0px); }
  /*-- (3) --*/
	25% { opacity: 1; -webkit-transform: translateX(0px); }
  /*-- (4) --*/
	30% { opacity: 0; -webkit-transform: translateX(0px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@keyframes effect_horizontal {
	0% { opacity: 0; }
  /*-- (1) --*/
	5% { opacity: 0; -webkit-transform: rotateY(180deg); }
  /*-- (2) --*/
	10% { opacity: 1; -webkit-transform: translateX(0px); }
  /*-- (3) --*/
	25% { opacity: 1; -webkit-transform: translateX(0px); }
  /*-- (4) --*/
	30% { opacity: 0; -webkit-transform: translateX(0px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
/*Push Effect*/
.brz-rich-text_push-effect > div > div p {
	animation: effect_push 12.5s linear infinite 0s;
	-ms-animation: effect_push 12.5s linear infinite 0s;
	-webkit-animation: effect_push 12.5s linear infinite 0s;
	opacity: 0;
	overflow: hidden;
	position: absolute;
}
.brz-rich-text_push-effect > div > div p:nth-child(2) {
	animation-delay: 2.5s;
	-ms-animation-delay: 2.5s;
	-webkit-animation-delay: 2.5s;
}
.brz-rich-text_push-effect > div > div p:nth-child(3) {
	animation-delay: 5s;
	-ms-animation-delay: 5s;
	-webkit-animation-delay: 5s;
}
.brz-rich-text_push-effect > div > div p:nth-child(4) {
	animation-delay: 7.5s;
	-ms-animation-delay: 7.5s;
	-webkit-animation-delay: 7.5s;
}
.brz-rich-text_push-effect > div > div p:nth-child(5) {
	animation-delay: 10s;
	-ms-animation-delay: 10s;
	-webkit-animation-delay: 10s;
}
/*Push Effect Animation: (4)-(2)=(3)-(1)=100%/số dòng "span"*/
@-webkit-keyframes effect_push {
  0% { opacity: 0; }
  /*-- (1) --*/
	5% { opacity: 0; -webkit-transform: rotate(0deg) scale(2) skew(0deg) translate(0px); }
  /*-- (2) --*/
	10% { opacity: 1; -webkit-transform: translateX(0px); }
  /*-- (3) --*/
	25% { opacity: 1; -webkit-transform: translateX(0px); }
  /*-- (4) --*/
	30% { opacity: 0; -webkit-transform: translateX(0px); }
  80% { opacity: 0; }
	100% { opacity: 0; }
}
@keyframes effect_push {
    0% { opacity: 0; }
  /*-- (1) --*/
	5% { opacity: 0; -webkit-transform: rotate(0deg) scale(2) skew(0deg) translate(0px); }
  /*-- (2) --*/
	10% { opacity: 1; -webkit-transform: translateX(0px); }
  /*-- (3) --*/
	25% { opacity: 1; -webkit-transform: translateX(0px); }
  /*-- (4) --*/
	30% { opacity: 0; -webkit-transform: translateX(0px); }
    80% { opacity: 0; }
	100% { opacity: 0; }
}
/*---Pop Effect---*/
.brz-rich-text_pop-effect > div > div p {
	animation: effect_pop 12.5s linear infinite 0s;
	-ms-animation: effect_pop 12.5s linear infinite 0s;
	-webkit-animation: effect_pop 12.5s linear infinite 0s;
	opacity: 0;
	overflow: hidden;
	position: absolute;
}
.brz-rich-text_pop-effect > div > div p:nth-child(2) {
	animation-delay: 2.5s;
	-ms-animation-delay: 2.5s;
	-webkit-animation-delay: 2.5s;
}
.brz-rich-text_pop-effect > div > div p:nth-child(3) {
	animation-delay: 5s;
	-ms-animation-delay: 5s;
	-webkit-animation-delay: 5s;
}
.brz-rich-text_pop-effect > div > div p:nth-child(4) {
	animation-delay: 7.5s;
	-ms-animation-delay: 7.5s;
	-webkit-animation-delay: 7.5s;
}
.brz-rich-text_pop-effect > div > div p:nth-child(5) {
	animation-delay: 10s;
	-ms-animation-delay: 10s;
	-webkit-animation-delay: 10s;
}
/*Pop Effect Animation: (4)-(2)=(3)-(1)=100%/số dòng "span"*/
@-webkit-keyframes effect_pop {
  0% { opacity: 0; }
  /*-- (1) --*/
	5% { opacity: 0; -webkit-transform: rotate(0deg) scale(0.10) skew(0deg) translate(0px); }
  /*-- (2) --*/
	10% { opacity: 1; -webkit-transform: translateY(0px); }
  /*-- (3) --*/
	25% { opacity: 1; -webkit-transform: translateY(0px); }
  /*-- (4) --*/
	30% { opacity: 0; -webkit-transform: translateY(0px); }
  80% { opacity: 0; }
	100% { opacity: 0; }
}
@keyframes effect_pop {
    0% { opacity: 0; }
  /*-- (1) --*/
	5% { opacity: 0; -webkit-transform: rotate(0deg) scale(0.10) skew(0deg) translate(0px); }
  /*-- (2) --*/
	10% { opacity: 1; -webkit-transform: translateY(0px); }
  /*-- (3) --*/
	25% { opacity: 1; -webkit-transform: translateY(0px); }
  /*-- (4) --*/
	30% { opacity: 0; -webkit-transform: translateY(0px); }
    80% { opacity: 0; }
	100% { opacity: 0; }
}
/*---AntiClockWise Effect---*/
.brz-rich-text_anti-clock > div > div p {
	animation: effect_anti 12.5s linear infinite 0s;
	-ms-animation: effect_anti 12.5s linear infinite 0s;
	-webkit-animation: effect_anti 12.5s linear infinite 0s;
	opacity: 0;
	overflow: hidden;
	position: absolute;
}
.brz-rich-text_anti-clock > div > div p:nth-child(2) {
	animation-delay: 2.5s;
	-ms-animation-delay: 2.5s;
	-webkit-animation-delay: 2.5s;
}
.brz-rich-text_anti-clock > div > div p:nth-child(3) {
	animation-delay: 5s;
	-ms-animation-delay: 5s;
	-webkit-animation-delay: 5s;
}
.brz-rich-text_anti-clock > div > div p:nth-child(4) {
	animation-delay: 7.5s;
	-ms-animation-delay: 7.5s;
	-webkit-animation-delay: 7.5s;
}
.brz-rich-text_anti-clock > div > div p:nth-child(5) {
	animation-delay: 10s;
	-ms-animation-delay: 10s;
	-webkit-animation-delay: 10s;
}
/*AntiClockWise Effect Animation: (4)-(2)=(3)-(1)=100%/số dòng "span"*/
@-webkit-keyframes effect_anti {
  0% { opacity: 0; }
  /*-- (1) --*/
	5% { opacity: 0; -webkit-transform: rotate(180deg); }
  /*-- (2) --*/
	10% { opacity: 1; -webkit-transform: translateY(0px); }
  /*-- (3) --*/
	25% { opacity: 1; -webkit-transform: translateY(0px); }
  /*-- (4) --*/
	30% { opacity: 0; -webkit-transform: translateY(0px); }
  80% { opacity: 0; }
	100% { opacity: 0; }
}
@keyframes effect_anti {
  0% { opacity: 0; }
  /*-- (1) --*/
	5% { opacity: 0; -webkit-transform: rotate(180deg); }
  /*-- (2) --*/
	10% { opacity: 1; -webkit-transform: translateY(0px); }
  /*-- (3) --*/
	25% { opacity: 1; -webkit-transform: translateY(0px); }
  /*-- (4) --*/
	30% { opacity: 0; -webkit-transform: translateY(0px); }
  80% { opacity: 0; }
	100% { opacity: 0; }
}