div[data-sortable-type].wtr-slider_fade {
    overflow-x: scroll;
    overflow-y: hidden;
}

.wtr-slider_fade > div[data-sortable-type="column"] {
    flex-direction: row;
    margin-right: -900%;
}

.wtr-slider_fade > div[data-sortable-type="column"] > .brz-wrapper {
    flex: 1 1 auto!important;
    max-width: 100vw!important;
}

.wtr-slider_fade > div:not([data-sortable-type]) > .brz-wrapper:not(:first-child) {
    position: absolute!important;
    width: 100%;
}

.wtr-slider_fade > div:not([data-sortable-type]) > .brz-wrapper {
    transition: opacity 1.5s ease-in!important;
}

.wtr-slider_fade.wtr-dots .wtr-slide-dots {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.wtr-slider_fade.wtr-arrows .brz-column__items::before {
  content: "«";
  font-size: 30px;
  color: white;
  position: absolute;
  line-height: 1;
  top: calc((100% - 110px)/2);
  left: 20px;
  cursor: pointer;
  z-index: 1;
}

.wtr-slider_fade.wtr-arrows .brz-column__items::after {
  content: "»";
  color: white;
  font-size: 30px;
  position: absolute;
  line-height: 1;
  top: calc((100% - 110px)/2);
  right: 20px;
  cursor: pointer;
  z-index: 1;
}

.wtr-slider_fade:not(.wtr-dots) .wtr-slide-dots {
    display: none;
}

.wtr-slide-dots > img {
    width: 70px;
    height: 70px;
    margin: 2px;
    object-fit: cover
}
